        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>{{ 'footer.copyright'|trans|raw }}</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>